md-dialog.enlarged-dialog {
    max-width: 70%;
    max-height: 70%;
    width: 70%;
    height: 90%;
    border-radius: 0;
}

md-toast.md-top {
    left: 50%;
    margin-left: -150px;
}

.mdl-card__media {
    margin: 0;
}

.mdl-card__media > img {
    max-width: 100%;
}

.mdl-grid {
    max-width: 1000px;
}

.mdl-card__media {
    margin: 0;
    max-height: 100%;
}

.mdl-card__media > img {
    max-width: 100%;
}

.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.content > article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center
}

.grassbox {
    position: relative;
    height: 700px;
    background-image: url("../images/grasspatch_blur.JPG");
    background-size: 950px 1000px;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;

}

.logo {
    height: 100%;
    width: 100%;
    background-image: url("../images/logo.png");
    background-size: 500px 400px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    /*top: 10%;*/
    /*margin-top: -10px*/
}

.foregrass {
    width: 100%;
    height: 100%;
    background-image: url("../images/extended_family_cropped.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 50% 90%;
    position: absolute;
    /*left:100%;*/
    /*margin-left: -480px;*/
    /*top:380px*/

}