<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
<!--<nav class="navbar navbar-inverse">-->
<!--<div class="container-fluid">-->
<!--<div class="navbar-header">-->
<!--<a href="#" class="navbar-brand">K.Y</a>-->
<!--</div>-->
<!--&lt;!&ndash;need to add #! for ng-href&ndash;&gt;-->
<!--<ul class="nav navbar-nav">-->
<!--<li ng-click="processLogout()"><a>Logout</a></li>-->

<!--</ul>-->
<!--</div>-->
<!--</nav>-->

<!--delete post confirmation dialog here-->
<div ng-controller="MainCtrl">
    <div class="container">
        <div id="deleteModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Delete Post</h4>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this post?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary"
                                data-dismiss="modal"
                                ng-click="deletePostConf()">Delete Post
                        </button>
                        <button type="button" class="btn btn-sm btn-default"
                                data-dismiss="modal">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--tab contents here-->
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
            <md-tab label="Blog" id="AddBlogTab">
                <h1 class="md-display-2">My Blog</h1>
                <md-content>
                    <div ng-controller="MainCtrl" class="mdl-layout mdl-js-layout mdl-color--grey-100">
                        <main class="mdl-layout__content">
                            <div class="mdl-grid">

                                <div ng-repeat="article in articles | orderBy:'-'"
                                     class="mdl-card mdl-cell mdl-cell--2-col-tablet mdl-shadow--2dp"
                                     style="max-height: 400px">
                                    <figure class="mdl-card__media" style="height:210px; width:310px">
                                        <img ng-src="{{article.imageUrl}}" style="height:210px; width:310px"/>
                                    </figure>
                                    <div class="mdl-card__title">
                                        <h1 class="mdl-card__title-text">{{article.title}}</h1>
                                    </div>
                                    <div ng-if="article.post.length<38" class="mdl-card__supporting-text"
                                         style="height:200px">
                                        <p>{{article.post}}</p>
                                    </div>
                                    <div ng-if="article.post.length>38" class="mdl-card__supporting-text"
                                         style="height:200px">
                                        <p>{{article.post.substring(0,114)}}...</p>
                                    </div>
                                    <div class="mdl-card__actions mdl-card--border" style="height:50px">
                                        <a ng-click="readMore(article)"
                                           class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Read
                                            More</a>
                                        <div class="mdl-layout-spacer"></div>
                                        <button ng-click="editPost($event, article.$id)"
                                                class="mdl-button mdl-button--icon mdl-button--colored"><i
                                                class="material-icons">border_color</i></button>
                                        <button ng-click="deletePost(article)" data-target="#deleteModal"
                                                data-toggle="modal"
                                                class="mdl-button mdl-button--icon mdl-button--colored"><i
                                                class="material-icons">delete_forever</i></button>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </md-content>

            </md-tab>

            <!--CREATE NEW POST HERE-->
            <md-tab label="Add Post" id="AddPostTab">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Add A Post</h1>
                    <div ng-controller="addPostCtrl">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" name="postForm" ng-submit="createPost()" novalidate>
                                        <legend>Create Post</legend>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label>Post Title</label>
                                                    <input type="text" placeholder="Title" class="form-control"
                                                           ng-model="titleTxt"
                                                           required/>
                                                </div>
                                                <div class="form-group">
                                                    <label>Post</label>
                                                    <textarea ng-model="postTxt" class="form-control" placeholder="Post"
                                                              required style="width:150%;"></textarea>
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit"
                                                            class="btn btn-primary">Submit Post
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-6">
                                    <legend>Upload An Image</legend>
                                    <div>
                                        <progress value="0" max="100" id="uploader"
                                                  style="-webkit-appearance: none; appearance: none;width:50%;margin-bottom:10px">
                                            {{percentageBar}}%
                                        </progress>
                                        <br>
                                        <label class="custom-file-upload">
                                            <!--<input style="display:none" type="file" value="upload" id="fileButton"/>-->
                                            <button style="display:none" ngf-select="selectFile($file)"
                                                    accept="image/jpeg"></button>
                                            <!--Upload Image-->
                                            Choose Image
                                        </label>
                                    </div>
                                    <div>
                                        <div>
                                            <img ngf-thumbnail="displayFile" width="20%">
                                        </div>

                                        <label>Files:</label>

                                        <p>{{fileName}}</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="ABOUT ME">
                <md-content class="md-padding">
                    <h1 class="md-display-2">About Me</h1>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

</body>
</html>